.account-container{
    padding: 16px;
}

.account-details-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.watchlist{
    width: 70%;
}

.watchlist-wrapper{
    display: contents;
}

.auth-form-wrapper{
    width: 80%;
}

@media screen and (max-width:420px) {
    .account-container{
        padding: 8px;
    }
}

@media screen and (max-width:600px) {
    .auth-form-wrapper, .watchlist{
        width: 90%;
    }
}